.bot-avatar {
	// border: 1px solid gray;
	width: 130px;
	height: 130px;
}

.red {
	color: #ff3838;
}

.green {
	color: #018e01;
}

.big-add-button {
	border: 3px dashed gray;
	text-align: center;
	width: 100%;
	overflow: hidden;
	height: 17vh;
	line-height: 15vh;
	vertical-align: middle;
}